/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #280028;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #ff0000;
    width: 100%;
    margin-bottom: 10px;
}

#header-text {
    font-size: 2em;
    color: silver;
    text-shadow: 0 0 5px #00ff00;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Subgoals Section */
.subgoals-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#subgoalGrid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    height: 80px;
    padding: 5px;
    background-color: #000;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.subgoal-block {
    background-color: #00ff00;
    color: #000;
    border: 1px solid #00ff00;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 100%;
    width: 80px;
    margin-right: 5px;
    border-radius: 5px;
}

.subgoal-block.active {
    background-color: #ff0000;
    color: #fff;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    background-color: #380038;
    color: #fff;
    resize: none;
    margin-bottom: 10px;
}

button {
    background-color: #00ff00;
    color: #280028;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

button:hover {
    background-color: #ff0000;
    color: #fff;
}